:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgba(23, 23, 23);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 916px;
  height: 100vh;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#__next {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 900;
}

.greet {
  font-size: 25px;
  margin-bottom: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


/*==================== CARDS ====================*/
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  width: calc(100% - 20px);
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  width: 300px;
  transition: all 0.1s ease-in-out;
}

.media-image {
  transition: all 0.1s ease-in-out;
}

.media-score {
  display: flex;
  gap: 5px;
  align-items: center;

}

#cards .card:hover {
  z-index: 5;
}

.card:hover::before {
  opacity: 2;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.1),
      transparent 20%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 60%);
  z-index: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1.5px;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.card-content h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.media-year {
  font-size: 1.2rem;
}

.card-title-div {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 30px;
  width: 500px;
  height: 320px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* Limit the number of lines displayed */
  -webkit-box-orient: vertical;
  max-height: calc(1.2 * 5);
  /* 1.2 is the line-height, 5 is the number of lines */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.info-icon {
  align-self: end;
  cursor: pointer;
}

#carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 20px);
  padding-top: 50px;
}

#carousel ul {
  list-style: none;
}

.carousel-item>.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: var(--card-color);
  border-radius: inherit;
}

/*==================== INDEX ====================*/

/* .index-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/*==================== SEARCH ====================*/

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.searchPageContainer form {
  display: flex;
  padding: 5px;
  margin: 20px;
  border-radius: 30px;
  background-color: rgb(40, 40, 40);
  text-align: center;
}

.searchPageContainer form input {
  font-size: 20px;
  padding: 10px;
  margin: 0;
  background-color: rgb(40, 40, 40);
  border: none;
  border-radius: 30px;
  width: 200px;
  transition: width 0.3s ease-in-out;
}

.searchPageContainer form input:focus {
  outline: none;
  width: 320px;
  transition: all 0.3s ease-in-out;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(40, 40, 40);
  border: none;
}

.searchPageContainer form button {
  font-size: 20px;
  padding: 10px;
}

.searchPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.searchPageContainer .card:hover {
  transform: scale(1.1);
}

.trending-card {
  width: 600px;
  height: 380px;
  border-radius: 15px;
  background-size: cover;
  background-position-y: 10%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 10px;
}

.trending-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  height: 100%;
}

.trending-card-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 25px;
}

.trending-card-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.trending-card-content-left * {
  margin: 0;
}

.trending-card-content-left h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

.trending-card-content-left p {
  font-size: 1.3rem;
}

.trending-card-content-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.trending-carousel {
  width: 100%;
}

.trending-carousel li {
  margin-right: 15px;
}

#lists {
  width: 100px;
  height: 40px;
  padding: 10px;
}

/*==================== LOGIN ====================*/

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-page input {
  margin: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page label {
  font-size: 20px;
}

.login-page p {
  margin: 20px 0 20 0;
}

.error {
  border-radius: 15px;
  border: 1px solid red;
  color: red;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.success {
  border-radius: 15px;
  border: 1px solid green;
  color: green;
  padding: 5px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 500px;
  height: 520px;
  padding: 50px;
  background: rgba(97, 97, 107, 0.5);
  border-radius: 15px;
  border-style: groove;
  text-align: center;
}

.login-page button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  cursor: pointer;
}

.submit-button {
  cursor: pointer;
  padding: 0.5em 0.5em;
  border-radius: 15px;
  margin-top: 1rem;
  text-align: center;
  transition: background-color 0.3s, color 0.3s ease-in-out;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  width: 394px;
}

.submit-button:hover {
  border: 1px solid darkblue;
  color: darkblue;
  background-color: rgba(97, 97, 107, 0.5);
}

/*==================== LISTS ====================*/

.create-list {
  position: absolute;
  left: 40%;
  top: 50%;
  border-radius: 15px;
  border: 1px solid white;
  background-color: var(--bg-color);
  width: 300px;
  height: 150px;
  z-index: 10;
  margin: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-list form {
  position: relative;
  display: flex;
  gap: 5px;
}

.list-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}

.list-carousel {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-carousel span {
  margin-top: 50px;
}

.list-carousel .card {
  height: 360px;
}

.list-carousel .card p {
  margin: 10px
}

.list-carousel .card h3 {
  font-size: 1.5rem;
  margin: 10px;
}

.list-carousel input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  flex-shrink: 0;
}

.list-div {
  display: flex;
  flex-direction: column;
  background-color: rgba(97, 97, 107, 0.5);
  width: 100%;
  min-height: 370px;
}

.list-div h2 {
  text-decoration: underline;
  align-self: center;
  font-size: 1.5rem;
}

.list-name {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 102px;
  cursor: pointer;
}

.list-name button {
  height: 30px;
  width: 30px;
  color: red;
}

.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.list-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.no-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-list a {
  font-size: large;
  margin-top: 10px;
  text-decoration: underline;
}

.list-message {
  color: red;
  padding: 5px;
}

/*==================== CONTACT ====================*/

.contact {
  min-height: 100vh;
}

/*==================== LAYOUT ====================*/

.layout {
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.header nav {
  background-color: rgb(30, 30, 30);
  border-radius: 50px;
}

.header nav ul {
  display: flex;
  gap: 5rem;
  padding: 0 15px;
  margin: 5px;
  list-style: none;
  border-radius: 30px;
}

.header nav li {
  border-radius: 30px;
  padding: 10px 15px;
  transition: background-color 0.4s, color 0.3s ease-in-out;
  cursor: pointer;
}

.header nav li.active {
  background-color: white;
  color: black;
}

.header nav li:hover {
  background-color: white;
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(40, 40, 40);
  padding: 30px;
  margin-top: auto;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  main {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container main {
    font-size: medium;
    font-weight: normal;
    text-align: center;
  }

  .greet {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 20px;
    gap: 10px;
  }

  #cards .card {
    height: 200px;
    width: 250px;
  }

  .card-content p {
    margin: 5px;
  }

  #carousel {
    padding-top: 30px;
  }

  /*SEARCH*/
  .searchPageContainer form {
    padding: 10px;
    margin: 10px;
  }

  .searchPageContainer form input {
    font-size: 16px;
    padding: 5px;
  }

  .searchPageContainer form button {
    font-size: 16px;
    padding: 5px;
  }

  .searchPageContainer p {
    font-size: 15px;
    padding: 5px;
    text-align: center;
  }

  .trending-card {
    width: 300px;
    height: 190px;
  }

  .trending-card-content {
    margin: 13px;
  }

  .trending-card-content-left {
    gap: 0;
  }

  .trending-card-content-left h3 {
    font-size: 1rem;
  }

  .trending-card-content-left p {
    font-size: 0.9rem;
  }

  .info-text {
    height: 200px;
    width: 200px;
    font-size: 1.2rem;
  }

  /*LOGIN*/
  .login-page input {
    margin: 5px;
    font-size: 16px;
  }

  .login-page label {
    font-size: 16px;
  }

  .error,
  .success {
    font-size: 16px;
    padding: 3px;
    margin: 5px 0;
  }

  .form {
    width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .submit-button {
    width: 90%;
  }

  /*LISTS*/
  .create-list {
    border-radius: 10px;
    border: 1px solid white;
    background-color: var(--bg-color);
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .create-list form {
    display: block;
    margin-top: 10px;
  }

  .list-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .list-carousel .card {
    width: 120px;
    height: 180px;
  }

  .list-carousel input[type="checkbox"] {
    margin-top: 10px;
    height: 15px;
    width: 15px;
  }

  .list-div {
    min-height: 250px;
  }

  .list-div h3 {
    font-size: 0.8rem;
    margin: 0;
  }

  .list-div p {
    font-size: 0.8rem;
    margin: 0;
  }

  .no-list a {
    font-size: medium;
    margin-top: 5px;
  }

  /*LAYOUT*/
  .layout {
    height: auto;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 1rem;
  }

  .header nav {
    transform: scale(0.9);
  }

  .header nav ul {
    gap: 0;
  }

  .header nav ul li a {
    gap: 0;
    font-size: 0.9rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    margin-top: auto;
    text-decoration: none;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--bg-color);
  }
}